* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: rgb(18, 26, 25);
    color: rgb(211, 139, 46);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



h1 {
    font-size: 60px;
    margin-top: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;


}

.card1 {
    background-color: rgb(118, 119, 25);
    color: rgb(227, 226, 231);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width: 500px;
    height: 300px;

}

.card2 {
    background-color: rgb(73, 47, 104);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 500px;
    height: 300px;
}


.card3 {
    background-color: rgb(121, 72, 99);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    width: 500px;
    height: 300px;
}

.img {
    width: 300px;
    height: 200px;
    border-radius: 80px;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}


h2 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}